/* Font-family: JetBrains Mono */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", sans-serif;
}

:root {
  --primary-color: black;
  --secondary-color: white;
}

body,
.container,
#app {
  display: flex;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  color: var(--secondary-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-title {
  margin: 2rem 0;
}

.container {
  padding: 1rem;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#app {
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  margin: 0 0 1rem 0;
  font-weight: 600;
}

article {
  padding: 1.3rem;
  height: 19rem;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.author {
  margin: 0.3rem 0;
  padding: 0.4rem 0.8rem 0.4rem;
  width: fit-content;
  background: var(--primary-color);
  color: var(--secondary-color);
}

@media screen and (min-width: 600px) {
  article {
    width: calc(100% / 2 - 10px);
  }
}
